<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]  
            actor {
              debug {
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
              serializers {
                wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
              }
              serialization-bindings {
                "System.Object" = wire
              }              
            }
          }
        ]]>
    </hocon>
  </akka>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <!--INICIO NUEVO CODIGO LOGGER -->

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\diego\Documents\logFile.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="100MG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %level - %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <!--FIN NUEVO CODIGO LOGGER -->

</configuration>
